:root {
    --clr-default: #fffdfd;
    --clr-light: #a5b2be27;
    --clr-principal: #77695dee;
    --clr-secondary: #77695d;
    --clr-dark: #111;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-principal);
}

form {
    min-width:420px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: var(--clr-light);
}

input {
    padding: 5px;
    width: 100%;
    height: 36px;
}

input:focus {
    border: 3px solid var(--clr-principal);
}

button[type="submit"] {
    padding: 7px;
    width: 100%;
    height: 30px;
    font-weight: bold;
    color: var(--clr-secondary);
    cursor: pointer;
}

button[type="submit"]:hover {
    height: 36px;
    border:3px solid var(--clr-secondary);
    border-radius: 7px;
}


span {
    color: var(--clr-dark);
}